spring:
  application:
    name: ingsoft
  datasource:
    name: cabalito_db
    platform: mysql
    url: jdbc:mysql://localhost:3306/cabalito_db?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password:
    hikari:
      connectionTestQuery: select 1
      maximum-pool-size: 2
      connection-timeout: 60000
  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 5MB

logging:
  level:
    com:
      spring:
        ibatis:
          UserMapper=DEBUG:
mybatis:
  configuration:
    default-fetch-size: 100
    default-statement-timeout: 30
  mapper-locations: classpath:/dao/*Dao.xml
  log4j:
    logger:
      bo.ucb.edu.ingsoft.dao.PublicationDao=DEBUG

